<footer class="footer">
  <div class="footer-cont">
    <span>© Renato S. Loeza - Web developer · 2024</span>
    <section>
      <a
        href="https://github.com/renatosanz"
        class="social-links__entry"
        target="_blank"
      >
        <span>
          <i class="fa-brands fa-2x fa-github-alt"></i>
        </span>
      </a>
      <a
        href="https://x.com/riprtx"
        class="social-links__entry"
        target="_blank"
      >
        <span>
          <i class="fa-brands fa-2x fa-square-twitter"></i>
        </span>
      </a>
      <a
        href="https://www.behance.net/riprtx"
        class="social-links__entry"
        target="_blank"
      >
        <span>
          <i class="fa-brands fa-2x fa-square-behance"></i>
        </span>
      </a>
    </section>
  </div>
</footer>

<style>
  .footer {
    display: flex;
    padding: 1rem;
    height: 5vh;
    transition: 0.1s;
  }
  .footer-cont {
    margin: auto;
    display: flex;
    gap: 1rem;
  }
  .footer-cont * {
    margin: auto;
  }
  .footer section {
    display: flex;
    gap: 1rem;
  }
  #autor {
    font-family: "inter";
  }
</style>
